<h2 mat-dialog-title *ngIf="updateMode">Update working slot</h2>
<h2 mat-dialog-title *ngIf="!updateMode">Add new working slot</h2>


<!-- style="overflow:visible;" is a workarround because the timepicker does not work on iphone...
seems to be related to position=fixed not working well on iphone....
-->
<mat-dialog-content [formGroup]="form" style="overflow:visible;">
  <div class="example-container">
    {{form.get('date').value | dateFormat}}
    <mat-form-field>
      <mat-select placeholder="Employer" formControlName="employer" [compareWith]="compareSelectValues">
        <mat-option *ngFor="let employer of employers" [value]="employer">{{employer.name}}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <input placeholder="Start" matInput [ngxTimepicker]="timepicker" [format]="24" readonly
        formControlName="startTime">
      <ngx-material-timepicker-toggle matSuffix [for]="timepicker"></ngx-material-timepicker-toggle>
      <!-- <ngx-material-timepicker #timepicker style="position: fixed"></ngx-material-timepicker> -->
      <ngx-material-timepicker #timepicker></ngx-material-timepicker>

    </mat-form-field>

    <mat-form-field>
      <input placeholder="End" matInput [ngxTimepicker]="endTimepicker" [format]="24" readonly
        formControlName="endTime">
      <ngx-material-timepicker-toggle matSuffix [for]="endTimepicker"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #endTimepicker></ngx-material-timepicker>
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>