<h2 mat-dialog-title *ngIf="updateMode">Update working slot</h2>
<h2 mat-dialog-title *ngIf="!updateMode">Add new working slot</h2>

<mat-dialog-content [formGroup]="form">
  <div class="example-container">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Date" disabled formControlName="date">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Employer" formControlName="employer" [compareWith]="compareSelectValues">
        <mat-option  *ngFor="let employer of employers" [value]="employer">{{employer.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <div class="toggle-custom-icon-example">
        <input placeholder="Start" matInput [ngxTimepicker]="timepicker" [format]="24" readonly formControlName="startTime">
        <ngx-material-timepicker-toggle [for]="timepicker"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
      </div>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="End" matInput [ngxTimepicker]="endTimepicker" [format]="24" readonly formControlName="endTime">
      <ngx-material-timepicker-toggle [for]="endTimepicker"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #endTimepicker></ngx-material-timepicker>
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>